
.container{
    /* to place it in the center */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
}

.circle{
    background: radial-gradient(blue, rgb(148, 136, 255),transparent 75%);
    border-radius: 50%;
    /* to create a circle with its diameter being half the viewport width */
    width: 50vh;
    height: 50vh;
    text-align: center;
    align-items: center;
    display: table-cell; vertical-align: middle;
	animation: pulse 2s infinite;
    font-family: "neue-haas-grotesk-display", sans-serif;
    font-weight: 500;
    font-style: normal;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.95);
	}
}

#forecast{
    color: yellow;
    font-size: 4vh;
}